In [141]:
import pandas as pd 
import numpy as np

In [142]:
theirs_df = pd.read_excel('private_dataE.xlsx')
our_df = pd.read_csv('reidentified_data_E_1.csv')

In [143]:
theirs_df['name'] = sorted(theirs_df['name'])

In [144]:
our_df.head()

                      name inferred_party
0         Adams, Margarita          Green
1              Adams, Sage          Green
2         Alcantar, Amanda          Green
3       Alexander, Faridah          Green
4  Alvarez Mendez, Vanessa          Green

In [145]:

# Check alignment
matches = (our_df['name'] == theirs_df['name']) & (our_df['inferred_party'] == theirs_df['party'])
accuracy = matches.mean() * 100

print(f"Alignment Accuracy: {accuracy:.2f}%")

Alignment Accuracy: 65.50%